<div class="py-3 mb-5 bg-body-secondary border-5 border-bottom border-primary" style="background-image: url(https://images.unsplash.com/reserve/uZYSV4nuQeyq64azfVIn_15130980706_64134efc6e_o.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2067&q=80);
        background-position: center; background-size: cover;">
    <div class="container py-5">
        <div class="d-flex justify-content-center justify-content-sm-start">
            <ng-container *ngIf="blogPost$ | async as blogPost; else loading">
                <div class="p-2 h1 fw-bold text-bg-primary headline m-0">{{blogPost.title}}</div>
            </ng-container>
            <ng-template #loading>
                <div class="placeholder-wave">
                    <div class="p-2 h1 placeholder m-0">Lorem ipsum dolor sit amet.</div>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-8 mb-5 text-body" style="--bs-text-opacity: 0.85; font-size: 1.075rem;">
            <ng-container *ngIf="blogPost$ | async as blogPost; else loadingContent">
                <div [innerHTML]="blogPost.content"></div>
            </ng-container>
            <ng-template #loadingContent>
                <div class="placeholder-wave d-flex flex-column gap-2">
                    <div class="placeholder col-7"></div>
                    <div class="placeholder col-9"></div>
                    <div class="placeholder placeholder-lg col-10"></div>
                    <div class="placeholder col-12"></div>
                    <div class="placeholder col-8 placeholder-sm"></div>
                    <div class="placeholder col-5 placeholder-lg"></div>
                    <div class="placeholder col-12"></div>
                    <div class="placeholder placeholder-lg col-4"></div>
                    <div class="placeholder col-7"></div>
                    <div class="placeholder col-5 placeholder-lg"></div>
                    <div class="placeholder col-9"></div>
                    <div class="placeholder placeholder-lg col-6"></div>
                    <div class="placeholder col-8 placeholder-sm"></div>
                    <div class="placeholder col-7"></div>
                    <div class="placeholder col-5 placeholder-lg"></div>
                    <div class="placeholder col-9"></div>
                    <div class="placeholder col-12"></div>
                    <div class="placeholder col-8 placeholder-sm"></div>
                </div>
            </ng-template>

            <!-- <article>
                <h3>Danh từ (Noun) là gì?</h3>
                <p>Danh từ (Noun), thường được viết tắt là "n", là những từ dùng để chỉ người, đồ vật, con vật, địa
                    điểm,
                    hiện tượng,
                    khái niệm,…</p>
                <p>Ví dụ:</p>
                <ul>
                    <li>Danh từ chỉ người: girl (cô gái), brother (anh trai), police (cảnh sát), James (tên người), she
                        (cô
                        ấy),…</li>
                    <li>Danh từ chỉ con vật: animal (động vật), dolphin (cá heo), tiger (con hổ), bird (con chim),...
                    </li>
                    <li>Danh từ chỉ đồ vật: book (cuốn sách), speaker (cái loa), rice (gạo),…</li>
                    <li>Danh từ chỉ hiện tượng: tsunami (sóng thần), sandstorm (bão cát), drizzle (mưa phùn),…</li>
                    <li>Danh từ chỉ địa điểm: house (ngôi nhà), school (trường học), airport (sân bay),…</li>
                    <li>Danh từ chỉ khái niệm: principle (nguyên lý), knowledge (kiến thức), language (ngôn ngữ),…</li>
                </ul>
                <p>Danh từ có thể đóng vai trò chủ ngữ, tân ngữ trực tiếp, tân ngữ gián tiếp, hoặc bổ ngữ.</p>
                <blockquote class="info">
                    <h5>Bạn có biết?</h5>
                    <ul>
                        <li>Danh từ là lớp từ lớn nhất trong hầu hết các ngôn ngữ, bao gồm cả tiếng Anh.</li>
                        <li>
                            Danh từ thường là một từ duy nhất, nhưng không phải lúc nào cũng vậy:
                            <em>cake</em> (bánh), <em>shoes</em> (giày), <em>school bus</em> (xe buýt trường học),
                            <em>time and a half</em> (lương gấp rưỡi khi làm ngoài giờ) đều là danh từ.
                        </li>
                    </ul>
                </blockquote>
                <h3>Phân loại danh từ</h3>
                <p>Danh từ chiếm một tỷ lệ lớn trong từ vựng tiếng Anh và chúng có thể được chia thành nhiều loại khác
                    nhau:</p>
                <ol>
                    <li>
                        <h5>Danh từ chung (common nouns)</h5>
                        <p>Danh từ chung là những danh từ dùng để chỉ cho người, địa điểm hoặc sự vật nhưng không phải
                            là tên của người, địa điểm hoặc sự vật cụ thể.</p>
                        <p>Ví dụ: <em>animal</em> (động vật), <em>sunlight</em> (ánh mặt trời), <em>happiness</em> (niềm
                            hạnh phúc),...</p>
                    </li>
                    <li>
                        <h5>Danh từ riêng (proper nouns)</h5>
                        <p>Danh từ riêng là tên của người, địa điểm hoặc sự vật cụ thể, thường được bắt đầu bằng chữ cái
                            in hoa</p>
                        <p>Ví dụ: <em>Abraham Lincoln</em>, <em>Argentina</em>, <em>World War I</em>,...</p>
                    </li>
                    <li>
                        <h5>Danh từ đếm được (count nouns)</h5>
                        <p>Danh từ đếm được là danh từ có thể được dùng sau "a" hoặc "an" hoặc sau một số (hoặc một từ
                            khác có nghĩa là "nhiều hơn một")</p>
                        <p>
                            Danh từ đếm được có cả dạng số ít và số nhiều và có thể được sử dụng với động từ ở cả dạng
                            số
                            ít và số nhiều, như với từ
                            <em>letter</em> trong:
                        </p>
                        <blockquote>
                            <p>
                                A <em>letter</em> for you is on the table. <em>Letters</em> for you arrive
                                regularly.
                            </p>
                            <p>Một lá thư gửi đến bạn đang ở trên bàn. Thư cho bạn đến thường xuyên.</p>
                        </blockquote>
                        <p>Đôi khi dạng số nhiều của danh từ đếm được cũng giống như dạng số ít của nó, chẳng hạn như:
                        </p>
                        <blockquote>
                            <p>
                                I saw a <em>deer</em> in my yard yesterday. There are a lot of <em>deer</em> in the
                                woods near my house.
                            </p>
                            <p>Hôm qua tôi thấy một con nai ở trong sân nhà tôi. Có rất nhiều nai trong khu rừng gần nhà
                                tôi.</p>
                        </blockquote>
                    </li>
                    <li>
                        <h5>Danh từ không đếm được (mass/noncount noun)</h5>
                        <p>Danh từ không đếm được là danh từ dùng để chỉ những thứ không thể đếm được. Chúng không thể
                            được
                            sử dụng sau các mạo từ a hoặc an hoặc sau một số.</p>
                        <p>Danh từ không đếm được chỉ có một dạng số ít và được sử dụng
                            với động từ dạng số ít</p>
                        <blockquote>
                            <p><em>Townspeople</em> are invited to a forum on the project</p>
                            <p>Người dân thị trấn được mời tham dự một diễn đàn về dự án</p>
                        </blockquote>
                    </li>
                </ol>
            </article> -->
        </div>
        <div class="col">

        </div>
    </div>
</div>